{% extends "home/base.html" %}
{% load static %}

{% block content %}
    {% include "home/includes/navigation.html" %}
    
    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li class="active">{{ product }}</li>
                    </ol>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5">
                    <div class="single-product-slider">
                        <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                            <div class="carousel-outer">
                                <div class="carousel-inner">
                                    {% for product_image in product_images %}
                                        {% if product_image.priority == 1 %}
                                            <div class="item active">
                                                <img src="{{ product_image.image.url }}" alt="productimage" data-zoom-image="{{ product_image.image.url }}" />
                                            </div>
                                        {% else %}
                                            <div class="item">
                                                <img src="{{ product_image.image.url }}" alt="productimage" data-zoom-image="{{ product_image.image.url }}" />
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                                <a class="left carousel-control" href="#carousel-custom" data-slide="prev">
                                    <i class="tf-ion-ios-arrow-left"></i>
                                </a>
                                <a class="right carousel-control" href="#carousel-custom" data-slide="next">
                                    <i class="tf-ion-ios-arrow-right"></i>
                                </a>
                            </div>
                            
                            <ol class="carousel-indicators mCustomScrollbar meartlab">
                                {% for product_image in product_images %}
                                    {% if product_image.priority == 1 %}
                                        <li data-target="#carousel-custom" data-slide-to="{{ forloop.counter0 }}" class="active">
                                            <img src="{{ product_image.image.url }}" alt="product_image" />
                                        </li>
                                    {% else %}
                                        <li data-target="#carousel-custom" data-slide-to="{{ forloop.counter0 }}">
                                            <img src="{{ product_image.image.url }}" alt="" />
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="single-product-details">
                    <form method="post" action="{% url "add_to_cart" product.id %}">
                        {% csrf_token %}
                            {% if product.is_favourite %}
                                <a class="btn mt-20 pull-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <title>Add to Favorites</title> 
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{% url "add_to_favourite" product.id %}" class="btn mt-20 pull-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <title>Add to Favorites</title>
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </a>
                            {% endif %}
                        <h2><strong></strong><br>{{ product.name }}</h2>
                        <hr>
                        <div class="product-size">
                            <span>Size:</span>
                            <select id="size-select" class="form-control" name="product-size">
                                {% for inventory_item in inventory %}
                                    <option value="{{ inventory_item.size }}" data-price="{{ inventory_item.price }}" data-stock="{{ inventory_item.stock }}">{{ inventory_item.size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for inven in inventory %}
                        <!-- <div class="product-size">
                            <span>Size:</span>
                            
                            {% if inven.S != "0" %}
                                <label style="margin-right: 20px;">
                                    <input type="radio" name="S" value="S"> S
                                </label>
                            {% else %}
                                <span style="margin-right: 20px; color: gray;">S (Out of stock)</span>
                            {% endif %}
                        
                            {% if inven.M != "0" %}
                                <label style="margin-right: 20px;">
                                    <input type="radio" name="M" value="M"> M
                                </label>
                            {% else %}
                                <span style="margin-right: 20px; color: gray;">M (Out of stock)</span>
                            {% endif %}
                            
                            {% if inven.L != "0" %}
                                <label style="margin-right: 20px;">
                                    <input type="radio" name="L" value="L"> L
                                </label>
                            {% else %}
                                <span style="margin-right: 20px; color: gray;">L (Out of stock)</span>
                            {% endif %}
                            
                            {% if inven.XL != "0" %}
                                <label style="margin-right: 20px;">
                                    <input type="radio" name="XL" value="XL"> XL
                                </label>
                            {% else %}
                                <span style="margin-right: 20px; color: gray;">XL (Out of stock)</span>
                            {% endif %}
                        </div> -->
                        
                        
                        {% endfor %}
                        
                        
                        <div class="product-quantity">
                            <span>Quantity:</span>
                            <div class="product-quantity-slider">
                                <input id="product-quantity" type="text" value="1" name="product-quantity" readonly>
                            </div> 
                        </div>
                        <div class="product-category">
                            <span>Category:</span>
                            <ul>
                                <li><a href="">{{ product.main_category }}</a></li>
                            </ul>
                        </div>
                        <div class="product-category">
                            <span>Stock Left:</span>
                            <ul>
                                <li><a id="stock-display">Only {{ inventory.0.stock }} left</a></li>
                            </ul>
                        </div>
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-common" role="alert">
                                    <i class="tf-ion-close-circled"></i><span></span>{{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <br><br>
                        <span class="product-price">
                            <strong id="price-display" class="h3">Price: ₹ {{ inventory.0.price }}</strong>
                            &nbsp;&nbsp;
                            <del>MRP: ₹ {{ product.mrp }}</del>
                        </span>
                        <br><br>
                        {% if offer %}
                        <p class="text-success"><b>Special offer {{offer}}% on {{ product.main_category }}. Buy now to grab the offer.</b></p>
                        {% endif %}
                        <button type="submit" class="btn btn-main ">Add To Cart</button>
                        <hr class="bg-dark">

                        <hr class="bg-dark">
                        <h4>Product summary</h4>
                        <p class="product-description mt-20">{{ product.description|linebreaksbr }}</p><br>
                    </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabCommon mt-20">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
                            <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
                        </ul>
                        <div class="tab-content patternbg">
                            <div id="details" class="tab-pane fade active in">
                                <h4>Product Description</h4>
                                <p>{{ product.description|linebreaksbr }}</p>
                            </div>
                            <div id="reviews" class="tab-pane fade">
                                <div class="post-comments">
                                    <ul class="media-list comments-list m-bot-50 clearlist">
                                        <!-- Comment Item start-->
                                        <li class="media">
                                            <a class="pull-left" href="#!">
                                                <img class="media-object comment-avatar" src="{% static 'images/blog/avater-1.jpg' %}" alt="" width="50" height="50" />
                                            </a>
                                            <div class="media-body">
                                                <div class="comment-info">
                                                    <h4 class="comment-author">
                                                        <a href="#!">Jonathon Andrew</a>
                                                    </h4>
                                                    <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                    <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
                                                </p>
                                            </div>
                                        </li>
                                        <!-- End Comment Item -->
                                        <!-- Comment Item start-->
                                        <li class="media">
                                            <a class="pull-left" href="#!">
                                                <img class="media-object comment-avatar" src="{% static 'images/blog/avater-2.jpg' %}" alt="" width="50" height="50" />
                                            </a>
                                            <div class="media-body">
                                                <div class="comment-info">
                                                    <div class="comment-author">
                                                        <a href="#!">Jonathon Andrew</a>
                                                    </div>
                                                    <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                    <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
                                                </p>
                                            </div>
                                        </li>
                                        <!-- End Comment Item -->
                                        <!-- Comment Item start-->
                                        <li class="media">
                                            <a class="pull-left" href="#!">
                                                <img class="media-object comment-avatar" src="{% static 'images/blog/avater-3.jpg' %}" alt="" width="50" height="50">
                                            </a>
                                            <div class="media-body">
                                                <div class="comment-info">
                                                    <div class="comment-author">
                                                        <a href="#!">Jonathon Andrew</a>
                                                    </div>
                                                    <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                    <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# {% include "home/includes/related-products.html" %} #}
    {% include "home/includes/footer.html" %}
{% endblock content %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        // Initialize TouchSpin
        $('input[name=\'product-quantity\']').TouchSpin({
            min: 1,
            max: 10 // Set the maximum value to 10
        });

        // Listen for changes in the input field
        $('input[name=\'product-quantity\']').on('change', function() {
            // Get the selected value
            var value = parseInt($(this).val());

            // If the selected value is less than 1, set it to 1
            if (value < 1) {
                $(this).val(1);
            }

            // If the selected value is greater than 10, set it to 10
            if (value > 10) {
                $(this).val(10);
            }
        });
    });
</script>
<script>
    // JavaScript to update price when size is selected
    document.getElementById('size-select').addEventListener('change', function() {
        var selectedSize = this.value;
        var selectedOption = this.querySelector('option[value="' + selectedSize + '"]');
        var price = selectedOption.getAttribute('data-price');
        var stock = selectedOption.getAttribute('data-stock');
        document.getElementById('price-display').innerText = 'Price: ₹ ' + price;
        document.getElementById('stock-display').innerText = 'Only ' + stock + ' left';
    });
</script>
{% endblock extra_scripts %}
