{% extends "home/base.html" %}

{% load static %}

{% block content %}
    <section class="signin-page account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                        <a class="logo" href="{% url "home" %}">
                            <img style="width:150px" src="{% static "images/logo-no-background.png" %}" alt="logo">
                        </a>
                        
                        <h2 class="text-center">Welcome</h2>
                        <form method="post" class="text-left clearfix" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for message in messages %}
                                {% if message.tags == "success" %}
                                    <div class="alert alert-success alert-common" role="alert">
                                        <i class="tf-ion-thumbsup"></i><span></span>{{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <input required id="email" type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">
                                <input required type="password" id="password" class="form-control" placeholder="Password" name="password" pattern="^.{8,}$" oninvalid="this.setCustomValidity('Password must be at least 8 characters long')">
                            </div>
                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-common" role="alert">
                                        <i class="tf-ion-close-circled"></i><span></span>{{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-main text-center" name="customer_login">Login</button>
                            </div>
                        </form>
                        <p class="mt-20">New in this site ? <a href="{% url "customer_signup" %}">Create New Account</a></p>
                        <p><a href="forget-password.html">Forgot your password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
