{% extends "home/base.html" %}
{% load static %}

{% block content %}
{% include 'home/includes/navigation.html' %}


<!--Add to cart Modal -->
{% comment %} <div class="modal product-modal fade" id="add-to-cart-modal-{{ cart_item.product.id }}">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <i class="tf-ion-close"></i>
  </button> {% endcomment %}
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="product-short-details">
              <br>
              <h2 class="product-title"><strong>{{ cart_item.product.brand_name }}</strong></h2>
              <h2 class="product-title">{{ cart_item.product.name }}</h2>
              <hr>
              <p>Select size and quantity</p>
              <hr>
              <form method="post" action="{% url 'add_to_cart' cart_item.product.id %}">
                {% csrf_token %}
                <div class="product-size">
                  <span>Size:</span>
                  <select class="form-control" name="product-size">
                    <option {% if cart_item.inventory.size == "S" %} selected {% endif %} value="S">Small</option>
                    <option {% if cart_item.inventory.size == "M" %} selected {% endif %} value="M">Medium</option>
                    <option {% if cart_item.inventory.size == "L" %} selected {% endif %} value="L">Large</option>
                    <option {% if cart_item.inventory.size == "XL" %} selected {% endif %} value="XL">Extra Large</option>
                  </select>
                </div>
                <div class="">
                  <span>Quantity:</span>
                  <div class="product-quantity-slider">
                    <input type="number" min="1" max="10" value="{{ cart_item.quantity }}" name="product-quantity">
                  </div>
                  <p class="h6">Maximum 10 quantity per customer	</p>
                </div>
                <br>
                <button type="submit" class="btn btn-main">Add To Cart</button>
              </form>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="modal-image">
              <img class="img-responsive" src="{{ cart_item.product.primary_image.image.url }}" alt="product-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% comment %} </div><!--  Add to cart modal --> {% endcomment %}



{% include 'home/includes/footer.html' %}
{% endblock content %}

{% block extra_styles %}

{% endblock extra_styles %}