{% extends "home/base.html" %}
{% load static %}

{% block content %}
{% include 'home/includes/navigation.html' %}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Cart</h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url "home" %}">Home</a></li>
                        <li><a href="{% url "customer_dashboard" %}">{{ customer.first_name }} {{ customer.last_name }}</a></li>
                        <li><a href="{% url "customer_dashboard" %}">Cart</a></li>
                        <li class="active"><a href="">Checkout</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div> 
</section>


<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title">Select address</h4>
                  <p>Select your delivery address</p>
                  <br>
                  <form method="post" class="checkout-form" name="place_order" action="{% url "place_order" %}">
                  {% csrf_token %}

                  <p>Default Address:</p>
                  <div class="row display-flex">
                  {% for address in addresses %}
                     {% if address.is_default %}
                        <div class="form-check col-xs-12 col-sm-12 col-md-12 ">
                           <label class="form-check-label" for="address-radio{{ address.id }}">
                              <input checked class="form-check-input" type="radio" name="address_id" id="address-radio{{ address.id }}" value="{{ address.id }}" required>
                              {{ address.address_text|linebreaksbr }}
                           </label>
                              <br>
                              <br>
                        </div>
                     {% endif %}
                  {% endfor %}
                  </div>
                  
                  <p>Other Addresses:</p>
                  <div class="row display-flex">
                     {% for address in addresses %}
                        {% if not address.is_default %}
                           <div class="form-check col-xs-12 col-sm-6 col-md-6 ">
                              <label class="form-check-label" for="address-radio{{ address.id }}">
                                 <input {% if address.id == selected_address_id %} checked {% endif %} class="form-check-input" type="radio" name="address_id" id="address-radio{{ address.id }}" value="{{ address.id }}" required>
                                 {{ address.address_text|linebreaksbr }}
                              </label>
                                 <br>
                           </div>
                        {% endif %}
                     {% endfor %}
                  </div>
               </div>
               <div class="block billing-details">
                  <div class="form-group">
                     <label for="full_name">Coupon:</label>
                     <input type="text" class="form-control" name="coupon_code" placeholder="Have a discount coupon?">
                  </div>
                  {% for message in messages %}
                     {% if message.tags == "error" %}
                        <div class="alert alert-danger" role="alert">{{message}}</div>
                     {% endif %}
                  {% endfor %}
               </div>
               <div class="block billing-details">
                  <h4 class="widget-title">Select Payment option</h4>
                  <p>Select your payment method</p>
                  <br>
                     <div class="row">
                        <div class="form-check col-md-6" style="margin-bottom:30px;">
                           <input {% if cart.total_amount <= 0 %} disabled {% endif %} {% if selected_payment_method == "razorpay" %}checked{% endif %} class="form-check-input" type="radio" name="payment_method" id="payment-razorpay" value="razorpay" required>
                           <label class="form-check-label" for="payment-razorpay">
                              <img class="payment-image" src="{% static "images\razorpay.png" %}" alt="">
                           </label>
                           {% if cart.total_amount <= 0 %} <p>This payment option is not available for this order.</p> {% endif %}
                        </div>
                        {% comment %} <div class="form-check col-md-6" style="margin-bottom:30px;">
                           <input {% if selected_payment_method == "paypal" %}checked{% endif %} class="form-check-input" type="radio" name="payment_method" id="payment-paypal" value="paypal" required>
                           <label class="form-check-label" for="payment-paypal">
                              <img class="payment-image" src="{% static "images\paypal.png" %}" alt="">
                           </label>
                        </div> {% endcomment %}
                        <div class="form-check col-md-6" style="margin-bottom:30px;">
                           <input {% if cart.total_amount > 1000 %} disabled {% endif %} {% if selected_payment_method == "cod" %}checked{% endif %} class="form-check-input" type="radio" name="payment_method" id="payment-cod" value="cod" required>
                           <label class="form-check-label" for="payment-cod">
                              <img class="payment-image" src="{% static "images\cash-on-delivery.png" %}" alt="">
                           </label>
                           {% if cart.total_amount > 1000 %} <p>Cash on delivery is not available for orders above 1000 Rs.</p> {% endif %}
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="radio" name="payment_method" id="wallet" value="wallet" {% if wallet_balance >= cart.remaining_amount %}{% else %}disabled{% endif %}>
                           <label class="form-check-label" for="wallet">
                               Wallet (Balance: ₹{{ wallet_balance }})
                               {% if wallet_balance < cart.remaining_amount %}
                               <span class="text-danger">(Insufficient balance)</span>
                               {% endif %}
                           </label>
                       </div>
                     </div>
                  <br>
                  <button type="submit" class="btn btn-main mt-20">Place Order</button>
                  </form>
               </div>
               <div class="block billing-details">
                  <h4 class="widget-title">Add new address</h4>
                  <form class="checkout-form" method="post" name="new_address" action="{% url "new_address" %}">
                     {% csrf_token %}
                     <div class="form-group">
                         <label for="full_name">Full Name</label>
                         <input type="text" class="form-control" id="full_name" name="name" placeholder="Full name *" required>
                     </div>
                     <div class="checkout-country-code clearfix">
                         <div class="form-group">
                             <label for="user_pin_code">Pin Code</label>
                             <input type="text" class="form-control" id="user_pin_code" name="pincode" placeholder="Pin code *" pattern="\d{6}" required oninvalid="this.setCustomValidity('Invalid Pin code')">
                         </div>
                         <div class="form-group">
                             <label for="user_mobile">Mobile No. <strong> +91</strong></label>
                             <input type="text" class="form-control" id="user_mobile" name="mobile" placeholder="10 digit mobile number *" pattern="\d{10}" required oninvalid="this.setCustomValidity('Invalid mobile number')">
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="user_house">Building</label>
                         <input type="text" class="form-control" id="user_house" name="building" placeholder="House/Building/Apartment *" required>
                     </div>
                     <div class="form-group">
                         <label for="user_street">Street</label>
                         <input type="text" class="form-control" id="user_street" name="street" placeholder="Street/Locality *" required>
                     </div>
                     <div class="form-group">
                         <label for="user_city">City</label>
                         <input type="text" class="form-control" id="user_city" name="city" placeholder="City/Town (Optional)">
                     </div>
                     <div class="form-group">
                         <label for="user_district">district</label>
                         <input type="text" class="form-control" id="user_district" name="district" placeholder="district *" required>
                     </div>
                     <div class="checkout-country-code clearfix">
                         <div class="form-group">
                             <select style="height: 50px;" class="form-control" id="user_state" name="state" required>
                                 {% for state in states %}
                                     <option value="{{ state }}">{{ state }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                         <div class="form-group">
                             <label for="user_country">Country</label>
                             <input type="text" class="form-control" id="user_country" name="country" value="India" readonly required>
                         </div>
                     </div>
                     <button type="submit" class="btn btn-main mt-20" name="checkout_submit">Save Address</button>
                 </form>   
               </div>
               <div class="block">
                  <h4 class="widget-title">Payment Method</h4>
                  <p>Credit Cart Details (Secure payment)</p>
                  <div class="checkout-product-details">
                     <div class="payment">
                        <div class="card-details">
                           <form  class="checkout-form">
                              <div class="form-group">
                                 <label for="card-number">Card Number <span class="required">*</span></label>
                                 <input  id="card-number" class="form-control"   type="tel" placeholder="•••• •••• •••• ••••">
                              </div>
                              <div class="form-group half-width padding-right">
                                 <label for="card-expiry">Expiry (MM/YY) <span class="required">*</span></label>
                                 <input id="card-expiry" class="form-control" type="tel" placeholder="MM / YY">
                              </div>
                              <div class="form-group half-width padding-left">
                                 <label for="card-cvc">Card Code <span class="required">*</span></label>
                                 <input id="card-cvc" class="form-control"  type="tel" maxlength="4" placeholder="CVC" >
                              </div>
                              {% comment %} <a href="confirmation.html" class="btn btn-main mt-20">Place Order</a > {% endcomment %}
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="product-checkout-details">
                  <div class="block">
                     <h4 class="widget-title">Order Summary</h4>
                     {% for cart_item in cart_items %}
                        <div class="media product-card">
                           <a class="pull-left" href="{% url "product_page" cart_item.product.slug %}">
                              <img class="media-object" src="{{ cart_item.product.primary_image.image.url }}" alt="Image" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"><a href="{% url "product_page" cart_item.product.slug %}">{{ cart_item.product.brand_name }}</a></h4>
                              <h6 class="media-heading"><a href="{% url "product_page" cart_item.product.slug %}">{{ cart_item.product.name }}</a></h6>
                              <p class="price">{{ cart_item.quantity }} x ₹ {{ cart_item.inventory.price }}</p>
                           </div>
                        </div>
                     {% endfor %}
                     {% comment %} <div class="discount-code">
                        <p>Have a discount coupon? <a data-toggle="modal" data-target="#coupon-modal" href="#!">enter it here</a></p>
                     </div> {% endcomment %}
                     <ul class="summary-prices">
                        <li>
                           <span>Subtotal:</span>
                           <span class="price">₹ {{ cart.total_amount }}</span>
                        </li>
                        {% if cart.total_offer %}
                        <li>
                           <span class="text-success"><b>Offers:</b></span>
                           <span class="price text-success"><b>₹ {{ cart.total_offer }}</b></span>
                        </li>
                        {% endif %}
                        <li>
                           <span>Shipping:</span>
                           <span>Free</span>
                        </li>
                     </ul>
                     <div class="summary-total">
                        <span>Total</span>
                        <span>₹ {{ cart.remaining_amount }}</span>
                     </div>
                     <div class="verified-icon">
                        <img src="{% static "images/shop/verified.png" %}">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <!-- Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <input class="form-control" type="text" placeholder="Enter Coupon Code">
                  </div>
                  <button type="submit" class="btn btn-main">Apply Coupon</button>
               </form>
            </div>
         </div>
      </div>
   </div>

   
{% include 'home/includes/footer.html' %}
{% endblock content %}

{% block extra_styles %}

<style>
   .row.display-flex {
      display: flex;
      flex-wrap: wrap;
    }
    .row.display-flex > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }

    .payment-image {
      width: 250px;
      height: 50px;
      object-fit: cover;
    }
</style>

{% endblock extra_styles %}