{% extends "aadmin/admin-base.html" %}

{% block content %}

<div class="card card-default col-lg-6 mx-auto">
    <div class="card-header card-header-border-bottom">
        <h2>{% if offer %}Edit {% else %}Add a new {% endif %}category offer</h2>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" {% if offer %}action="{% url "edit_offer" offer.id %}"{% endif %}>
            {% csrf_token %}
            <div class="form-group col-md-12">
                <label>Category:</label>
                <select name="category_id" class="form-control">
                    <option disabled selected>Select Category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if offer and offer.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-12">
                <label>Discount in Percentage:</label>
                <input name="discount" type="number" min="1" max="90" step="1" class="form-control" placeholder="Discount in percentage" value="{% if offer %}{{ offer.discount }}{% endif %}" required>
            </div>
            <div class="form-group col-md-12">
                <label>Active:</label>
                <select name="active" class="form-control">
                    <option value="1" {% if offer and offer.is_active %}selected{% endif %}>Active</option>
                    <option value="0" {% if offer and not offer.is_active %}selected{% endif %}>Inactive</option>
                </select>
            </div>
            <br>
            <div class="form-footer pt-3 border-top">
                {% for message in messages %}
                    <div class="alert alert-danger text-center" role="alert">{{message}}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_styles %}

{% endblock extra_styles %}

{% block extra_scripts %}

{% endblock extra_scripts %}
