{% extends "aadmin/admin-base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="col-md-7">Sales Report</h1>
        <form class="form-inline" method="post">
            {% csrf_token %}
            <div class="form-group mr-2">
                <label for="filter_option" class="mr-2">Report of:</label>
                <select class="form-control input-sm" name="filter_option" id="filter_option">
                    <option {% if request.session.selection == "today" %}selected{% endif %} value="today">Today</option>
                    <option {% if request.session.selection == "1_week" %}selected{% endif %} value="1_week">1 week</option>
                    <option {% if request.session.selection == "1_month" %}selected{% endif %} value="1_month">1 month</option>
                    <option {% if request.session.selection == "6_months" %}selected{% endif %} value="6_months">6 months</option>
                    <option {% if request.session.selection == "1_year" %}selected{% endif %} value="1_year">1 year</option>
                    <option {% if request.session.selection == "custom" %}selected{% endif %} value="custom">Custom</option>
                </select>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Apply Filter</button>
        </form>
    </div>
    <br>
    {% if request.session.selection == "custom" %}
    <form class="form-inline float-right" method="post">
        {% csrf_token %}
        <div class="form-group mr-2">
            <label for="start_date" class="mr-2">Start Date:</label>
            <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}" required>
        </div>
        <div class="form-group mr-2">
            <label for="end_date" class="mr-2">End Date:</label>
            <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}" required>
        </div>
        <button name="custom_date" type="submit" class="btn btn-sm btn-primary">Generate Report</button>
    </form>
    {% endif %}
</div><br><br>
<button class="btn btn-primary" id="download-report">Download Sales Report</button>
<br><br>
{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}

<div class="" id="sales-report">
    <hr>
    <div class="text-center">
        <h2>
            <span style="color: rgb(179, 19, 19);">A</span><span style="color: black;">mart</span>
        </h2>
    </div>
    <br><br>
    <h2 class="text-center">Sales report from <strong>{{ start_date|date:"d-m-Y" }}</strong> to <strong>{{ end_date|date:"d-m-Y" }}</strong></h2>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Customer</th>
            <th scope="col" class="text-center">Product ID</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Unit Price</th>
          </tr>
        </thead>
        <tbody>
            {% for order_item in order_items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order_item.order_created_at|date:"d-m-Y" }}</td>
                <td>{{ order_item.order.customer }}</td>
                <td class="text-center">{{ order_item.inventory.product.id }}</td>
                <td class="text-center">{{ order_item.quantity }}</td>
                <td class="text-center">{{ order_item.inventory.price }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No data available for the selected period.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <br><hr><br>
      <div class="text-right pr-5">
          <p>Overall Sales Count: <strong>{{ overall_count }}</strong></p><br>
          <p>Overall Sales Amount: <strong>{{ overall_amount }}</strong></p>
      </div>
      <br><hr><br>
      <img style="width: 150px" src="{% static "images\logo-black1.png" %}" alt="logo">
      <p class="float-right pr-5">Generated by <strong class="h3">Amart</strong></p>
      <p>Date: {{ end_date|date:"d-m-Y" }}</p>
</div>

{% endblock content %}

{% block extra_scripts %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js'></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("download-report").addEventListener("click", () => {
            const salesReport = document.getElementById("sales-report");
            const opt = {
                margin: 0.2,
                filename: '{{ pdf_name }}.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().from(salesReport).set(opt).save();
        });
    });
</script>

{% endblock extra_scripts %}

{% block extra_styles %}
<link href="{% static 'aadmin/plugins/data-tables/datatables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="https://unpkg.com/sleek-dashboard/dist/assets/css/sleek.min.css">
{% endblock extra_styles %}
