<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					{% comment %} <li>
						<a href="https://www.facebook.com/themefisher">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li> {% endcomment %}
					<li>
						<a href="https://www.instagram.com/anandhurai_D/" target="_blank">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.freecodecamp.org/" target="_blank">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/anandkumar08?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
							<i class="tf-ion-social-linkedin"></i>
						</a>
					</li>
					{% comment %} <li>
						<a href="https://www.pinterest.com/themefisher/" target="_blank">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li> {% endcomment %}
				</ul>
				<ul class="footer-menu text-uppercase">
					{% comment %} <li>
						<a href="contact.html">CONTACT</a>
					</li> {% endcomment %}
					<li>
						<a href="{% url "shop" %}">SHOP</a>
					</li>
					
					{% comment %} <li>
						<a href="contact.html">PRIVACY POLICY</a>
					</li> {% endcomment %}
				</ul>
				<p class="copyright-text">Copyright &copy;2024, Designed by <a href="https://themefisher.com/" target="_blank">Amart</a> &amp; Developed by <a href="https://melvinthankachan.github.io/Melvin-Personal-Website/#about" target="_blank">Anand D</a></p>
			</div>
		</div>
	</div>
</footer>